<div class="entry">
<% if notice %><p id="notice"><%= notice %></p><% end %>

<p>
  <strong>Title:</strong>
  <%= @page.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @page.content %>
</p>

<p>
  <strong>Defaut:</strong>
  <%= @page.defaut %>
</p>

<%= link_to 'Edit', edit_page_path(@page) %> |
<%= link_to 'Back', pages_path %>
</div>
